#cloud {
	padding:15px; 
	line-height:auto;
	text-align:center;
}

#cloud a {
	text-decoration:none;
}

#simpyLinks {
	width: 90%;
	margin: 0 auto;
}

#simpyLinks img {
	margin: 0 auto;
}

.simpyCenter {
	text-align:center;
	}

.simpy-block {
    text-align: center;
}

.simpy-button {
    text-align: center;
}

.simpy-button2 {
    text-align: center;
}

a.tag1 {
 font-size:12px;
}

a.tag2 {
 font-size:14px;
 font-weight:300px;
}

a.tag3 {
 font-size:18px;
 font-weight:400;
}

a.tag4 {
 font-size:20px;
 font-weight:500;
}

a.tag5 {
 font-size:22px;
 font-weight:600;
}

a.tag6 {
 font-size:24px;
 font-weight:700;
}

a.tag7 {
 font-size:26px;
 font-weight:900;
}